@model Airline.Models.Пользователи

@{
	ViewBag.Title = "Личная информация пользователя";
}
@Styles.Render("~/Content/Style.css")

<h2 class="title">Личная информация пользователя</h2>

<div>
	<dl class="dl-horizontal">
		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Фамилия)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Фамилия)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Имя)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Имя)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Отчество)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Отчество)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.image)
		</dt>

		<dd>
			@{byte[] photo = Model.image;
				string imageSrc = null;
				if (photo != null)
				{
					MemoryStream ms = new MemoryStream();
					ms.Write(photo, 0, photo.Length);
					string imageBase64 = Convert.ToBase64String(ms.ToArray());
					imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
					string base64String = Convert.ToBase64String(photo, 0, photo.Length);
				}
			}
			<img alt="Image" width="100" height="100" src="@imageSrc" />
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Вход.login)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Вход.login)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Постоянный_клиент.Количество_км)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Постоянный_клиент.Количество_км)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Постоянный_клиент.Премиальные_очки)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Постоянный_клиент.Премиальные_очки)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
	@Html.ActionLink("Вернуться", "Index")
</p>
