@model Airline.Models.Вход

@{
	ViewBag.Title = "Детали пользователя";
}
@Styles.Render("~/Content/Style.css")

<h2 class="title">Детали пользователя</h2>

<div>
	<dl class="dl-horizontal">
		<dt class="details-label">
			@Html.DisplayNameFor(model => model.login)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.login)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.password)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.password)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Пользователи.Фамилия)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Пользователи.Фамилия)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Пользователи.Имя)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Пользователи.Имя)
		</dd>

		<dt class="details-label">
			@Html.DisplayNameFor(model => model.Пользователи.Отчество)
		</dt>

		<dd class="details-info">
			@Html.DisplayFor(model => model.Пользователи.Отчество)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Вернуться", "Index")
</p>
