@model IEnumerable<Airline.Models.Вход>

@{
	ViewBag.Title = "Данные пользователей для входа";
}

@Styles.Render("~/Content/Style.css")

@section header {
	<ul class="nav-list">
		<li class="nav-list__item">@Html.ActionLink("Пользователи", "Index", "Пользователи")</li>
		<li class="nav-list__item">@Html.ActionLink("Постоянные клиенты", "Index", "Постоянный_клиент")</li>
		<li class="nav-list__item">@Html.ActionLink("Вход", "index", "Вход")</li>
		<li class="nav-list__item">@Html.ActionLink("Заявки", "index", "Заявка")</li>
		<li class="nav-list__item">@Html.ActionLink("Рейсы", "index", "Рейс")</li>
		<li class="nav-list__item">@Html.ActionLink("Полеты", "index", "Полет")</li>
	</ul>
}

<h2 class="title">Данные пользователей для входа</h2>

<p>
	@Html.ActionLink("Добавить нового пользователя", "Register", new { }, new { @class = "create-link" })
</p>
<table class="table table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.login)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.password)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Пользователи.Фамилия)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Пользователи.Имя)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Пользователи.Отчество)
		</th>
		<th class="last-column"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.login)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.password)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Пользователи.Фамилия)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Пользователи.Имя)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Пользователи.Отчество)
			</td>
			<td class="last-column">
				@Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Детали", "Details", new { id = item.Id }) |
				@Html.ActionLink("Удалить", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
